################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CHash/v16/Browse.VC.db
/.vs/CHash/v16/Browse.VC.opendb
